@page "/"
@namespace VideoManager.Components.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>VideoManager</title>
    <link href="app.css" rel="stylesheet" />
</head>
<body>
    <app>
        Loading...
    </app>

    <script src="js/site.js"></script>  <!-- YOUR CUSTOM JS -->
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
